<div class="container " style="background-image: url();">
  <section class="vh-100 bg-image">
    <!-- <div class="mask d-flex align-items-center h-100 gradient-custom-3"> -->
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h4 class="text-uppercase text-center mb-5">Create an account</h4>
  
                <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example">Name</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="name" ngModel #name="ngModel"/>
                    
                    <div *ngIf="name.errors?.['required'] && name.touched "><p style="color: crimson;">*Please enter valid email</p></div>
  
  
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" ngModel #email="ngModel" required minlength ="8" maxlength="36"/>
                    
                    <div *ngIf="email.errors?.['required'] && email.touched "><p style="color: crimson;">*Please enter valid email</p></div>
                    <div *ngIf="email.errors?.['minlength'] && email.touched"><p style="color: crimson;">*Please enter at least 6 characters for email</p></div>
                  </div>
  
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Ph no</label>
                    <input type="text" id="form3Example4" name="Phno" class="form-control form-control-lg" ngModel #Phno="ngModel" required minlength ="1" maxlength="10"/>
                    
                    <div *ngIf="Phno.errors?.['required'] && Phno.touched"><p style="color: crimson;">*Please enter valid Phno</p></div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <input type="password" id="form3Example4" name="password" class="form-control form-control-lg" ngModel #password="ngModel" required minlength ="8" maxlength="18"/>
                    
                    <div *ngIf="password.errors?.['minlength'] && password.touched"><p style="color: crimson;">*Please enter at least 8 characters for password</p></div>
                    <div *ngIf="password.errors?.['required'] && password.touched"><p style="color: crimson;">*Please enter valid password</p></div>
                  </div>
  
                   
  
                  
  
                  
  
                  
  
                  <div>
                    
                    
                   
                    <!-- <div *ngIf="country.errors?.['required'] && country.touched"><p style="color: crimson;">*Please enter valid country</p></div> -->
                  </div> 
  
                  <!-- <tr>
                      <td align="right"><b>Gender</b></td>
                      <td align="left">
                          <select name="gender" ngModel>
                              <option value=""> Select Gender </option>
                              <option value="Male"> Male </option>
                              <option value="Female"> Female </option>
                              <option value="Other"> Other </option>
                          </select>
                      </td>
                  </tr>
                  <tr>
                      <td align="right"><b>Country</b></td>
                      <td align="left">
                          <select name="country" ngModel>
                              <option value=""> Select Country </option>
                               <option *ngFor="let Country of countries" value="{{Country.cca3}}">{{Country.name.common}} </option> 
                          </select>
                      </td>
                  </tr>
                  <tr>
                      <td align="right"><b>Date of Joining</b></td>
                      <td align="left"><input type="date" name="doj" ngModel /> </td>
                  </tr> -->
  
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a class="text-body" href="TnS"><u>Terms of service</u></a>
                    </label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Register">
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                      class="fw-bold text-body"><u>Login</u></a></p>
  
                </form>
  
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>
  </div>