<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pravarsha Dairy</title>
    <link rel="stylesheet" href="./about-us.component.css">
</head>
<body>
    <div class="container">
        
        <img src="https://pravarshaindustries.com/img/aboutus.webp" style="width: 100%;">
        <br>
        <section id="who-we-are">
            <h1 style="text-align: center;">Who are we?</h1>
            <p>Pravarsha Dairy is a corporate citizen who understands the enormous significance of hygienic milk and dairy products for agro and industrial development. Leveraging the strength of superior product offerings, Pravarsha Dairy has strategized its foray into the consumer market, with the aim of being the market leader, earning respect and revenue for the stakeholders.</p>
        </section>
        

        <section id="our-mission">
            <h2 style="text-align: center;">Our mission</h2>
            <p>Our mission is to become the premier retailer of high-quality food products in India. To achieve this goal, we are committed to passionately focusing on customer value, being intolerant of waste, and serving as responsible citizens in our communities.</p>
        </section>

        <section id="our-vision">
            <h2 style="text-align: center;">Our vision</h2>
            <p>Our aim is to meet the diverse needs of consumers every day by marketing and selling foods that are consistent and of high quality.</p>
            <img src="https://pravarshaindustries.com/img/aboutus.webp" style="height: 10%;">
        </section>

       
        <div class="image-box">
            <img src="" alt="Image logo">
          </div>

        <section id="incorporation">
            
            <p>Incorporation</p>
            <p>Pravarsha was incorporated in March 2012 to deliver healthy, pure dairy products and more to the community.</p>
        </section>
    </div>
</body>
</html>
<br>

<footer class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-section">
          <h2>Products</h2>
          <ul>
            <li><a href="milk">milk</a></li>
            <li><a href="ghee">ghee</a></li>
            <li><a href="paneer">paneer</a></li>
            <li><a href="curd">curd</a></li>
            <li><a href="#">Buttermilk</a></li>
          </ul>
        </div>
        
        <div class="footer-section">
          <h2>Policy</h2>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Cancellation/Refund Policy</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h2>Contact Us</h2>
          <address>
            205, Saptagiri towers, Sardar Patel Rd Mayur Marg,<br>
            Dundigal Hyderabad, Telangana 500016.<br>
            <a href="mailto:maheshshalivahana21@gmail.com">supportmaheshshalivahana21gamil.com</a><br>
            <a href="tel:8464018813">8464018813</a> | <a href="tel:8464018813">8464018813</a>
          </address>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; Copyright 2024. All Rights Reserved.</p>
        <div class="social-links">
          <a href="#">Download App</a>
          <a href="#">Follow us on:</a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>